In [4]:
import xml.etree.ElementTree as Xet
import pandas as pd

In [5]:
# Columnas generales para los CSV's
cols = ["tweetid", "user", "content", "date", "lang", "sentiment"]

# Primer CSV

In [6]:
rows = []

In [7]:
xmlparse = Xet.parse('./data/TASS2019_country_CR_train.xml') 
root = xmlparse.getroot()

In [8]:
for i in root: 
    tweetid = i.find("tweetid").text 
    user = i.find("user").text
    content = i.find("content").text
    date = i.find("date").text
    lang = i.find("lang").text
    sentiment = i.find("sentiment").find("polarity").find("value").text
    rows.append({"tweetid": tweetid,
                 "user": user, 
                 "content": content, 
                 "date": date, 
                 "lang": lang,
                 "sentiment":sentiment})

In [9]:
df = pd.DataFrame(rows, columns=cols)
df

,tweetid,user,content,date,lang,sentiment
0,768225400254111744,14628107,@NoilyMV yo soy totalmente puntual,Tue Aug 23 23:16:23 +0000 2016,es,NONE
1,770077064833671168,713600676,@SandraCauffman Hola Sandrita. No le habia des...,Mon Aug 29 01:54:14 +0000 2016,es,P
2,771207534342320128,120940293,Si andan haciendo eso mejor se quedaran callad...,Thu Sep 01 04:46:19 +0000 2016,es,N
3,771900763987513345,2827444381,Que pereza quiero choco banano,Sat Sep 03 02:40:58 +0000 2016,es,N
4,772550560998301697,60878511,"@robertobrenes Bueno, no es tanto lo mayor com...",Sun Sep 04 21:43:01 +0000 2016,es,N
...,...,...,...,...,...,...
772,814853214050906112,311102472,Quiero como tener carro para hacer todo rápido,Fri Dec 30 15:18:40 +0000 2016,es,NEU
773,815439552038977537,119492787,Tristeza más hp me da siempre en año nuevo,Sun Jan 01 06:08:33 +0000 2017,es,N
774,817864316372348928,4878793919,no encuentro ninguna buena serie en NF.,Sat Jan 07 22:43:42 +0000 2017,es,N
775,817069708927266816,722185474182254598,@Alphasniper97 Alpha suerte y ten un feliz año...,Thu Jan 05 18:06:13 +0000 2017,es,P
776,817032173689696257,205417315,@sancarlena77 @miguelpintor05 @demalaspalabras...,Thu Jan 05 15:37:04 +0000 2017,es,NONE

In [28]:
df.to_csv('./data/country_CR_train.csv')

# Segundo CSV

In [10]:
rows = []

In [11]:
xmlparse = Xet.parse('./data/TASS2019_country_MX_train.xml') 
root = xmlparse.getroot()

In [12]:
for i in root: 
    tweetid = i.find("tweetid").text 
    user = i.find("user").text
    content = i.find("content").text
    date = i.find("date").text
    lang = i.find("lang").text
    sentiment = i.find("sentiment").find("polarity").find("value").text
    rows.append({"tweetid": tweetid,
                 "user": user, 
                 "content": content, 
                 "date": date, 
                 "lang": lang,
                 "sentiment":sentiment})

In [13]:
df = pd.DataFrame(rows, columns=cols)
df

,tweetid,user,content,date,lang,sentiment
0,767817507897872385,71463624,— ¿Nivel de inglés? — Alto. — Traduzca juguete...,Mon Aug 22 20:15:33 +0000 2016,es,NEU
1,772486813948575745,572924309,Si soy de área 4 y con suerte pase mate IV y m...,Sun Sep 04 17:29:43 +0000 2016,es,N
2,771871884451295233,158142748,Sabían que su after fav Teatro G. fue construi...,Sat Sep 03 00:46:12 +0000 2016,es,P
3,771947976302456832,132254421,Y hoy por primera vez me salí con el permiso d...,Sat Sep 03 05:48:34 +0000 2016,es,P
4,774741645484896256,105530236,"¿Para qué hacen coraje con Ambriz?, al final n...",Sat Sep 10 22:49:36 +0000 2016,es,N
...,...,...,...,...,...,...
984,818773396318277633,195469214,Si quieren que aprenda algo de eso dejen esa m...,Tue Jan 10 10:56:04 +0000 2017,es,NEU
985,818738784657408000,93545559,Últimos momentos en medicina familiar y de gua...,Tue Jan 10 08:38:32 +0000 2017,es,NONE
986,819050320177152000,322339981,@natyamezcua hay pues hay que ver que hacemos ...,Wed Jan 11 05:16:28 +0000 2017,es,NEU
987,819049335602216962,627591478,Me acabo de tragar un pastel en mood celina,Wed Jan 11 05:12:33 +0000 2017,es,N
988,819093294546305024,445318639,"Pobresita jajajaja, no no tendras su amistad d...",Wed Jan 11 08:07:14 +0000 2017,es,N

In [ ]:
df.to_csv('./data/country_MX_train.csv')

# Tercer CSV

In [20]:
rows = []

In [21]:
xmlparse = Xet.parse('./data/TASS2019_country_PE_train.xml') 
root = xmlparse.getroot()

In [22]:
for i in root: 
    tweetid = i.find("tweetid").text 
    user = i.find("user").text
    content = i.find("content").text
    date = i.find("date").text
    lang = i.find("lang").text
    sentiment = i.find("sentiment").find("polarity").find("value").text
    rows.append({"tweetid": tweetid,
                 "user": user, 
                 "content": content, 
                 "date": date, 
                 "lang": lang,
                 "sentiment":sentiment})

In [23]:
df = pd.DataFrame(rows, columns=cols)
df

,tweetid,user,content,date,lang,sentiment
0,772432598027145216,71546415,"Sin ser fan de Juan Gabriel, siempre supe que ...",Sun Sep 04 13:54:17 +0000 2016,es,P
1,772489016352669701,53311422,Sabes que no tendrás un buen día cuando lo pri...,Sun Sep 04 17:38:28 +0000 2016,es,N
2,771317218634149888,599653674,"En situaciones en las que no sepas que hacer, ...",Thu Sep 01 12:02:09 +0000 2016,es,N
3,771715645843079169,106919551,ayer preguntaban y dónde están las solteras!!!...,Fri Sep 02 14:25:22 +0000 2016,es,NEU
4,771744506861461504,599653674,Que el finde sea para hacer cualquier cosa que...,Fri Sep 02 16:20:03 +0000 2016,es,NEU
...,...,...,...,...,...,...
961,818130147366813696,105705498,"Terminarán odiándome, como casi todos los padr...",Sun Jan 08 16:20:01 +0000 2017,es,N
962,816876533231079424,1005307664,Necesito urgente entrar a la gimnasia y al gim...,Thu Jan 05 05:18:37 +0000 2017,es,NONE
963,816890935808323584,112088294,Lo que me recuerda que @edvergaray me criticar...,Thu Jan 05 06:15:50 +0000 2017,es,NONE
964,818483269255761920,711592506329329666,"Hasta lo peor de mi, quiere lo mejor para ti",Mon Jan 09 15:43:12 +0000 2017,es,NEU
965,818261014407843840,312135199,"Al final, siempre me quedo sola en casa",Mon Jan 09 01:00:03 +0000 2017,es,NONE

In [ ]:
df.to_csv('./data/country_PE_train.csv')

# Cuarto CSV

In [24]:
rows = []

In [25]:
xmlparse = Xet.parse('./data/TASS2019_country_UY_train.xml') 
root = xmlparse.getroot()

In [26]:
for i in root: 
    tweetid = i.find("tweetid").text 
    user = i.find("user").text
    content = i.find("content").text
    date = i.find("date").text
    lang = i.find("lang").text
    sentiment = i.find("sentiment").find("polarity").find("value").text
    rows.append({"tweetid": tweetid,
                 "user": user, 
                 "content": content, 
                 "date": date, 
                 "lang": lang,
                 "sentiment":sentiment})

In [27]:
df = pd.DataFrame(rows, columns=cols)
df

,tweetid,user,content,date,lang,sentiment
0,768529421548609536,293627746,Yo espero tranquila. Si gana de nvo alg partid...,Wed Aug 24 19:24:27 +0000 2016,es,NEU
1,771028255629512706,35709180,"Los fracasos de Michelle, Cristina y Dilma mue...",Wed Aug 31 16:53:55 +0000 2016,es,N
2,771055632854183940,146577758,Debemos orar por los hnos venezolanos gente q ...,Wed Aug 31 18:42:43 +0000 2016,es,N
3,770138191689093122,355883744,Me dijo que no le había gustado no se cuantas ...,Mon Aug 29 05:57:08 +0000 2016,es,NEU
4,769716104491040768,2701106364,@susanagkp jajaja yo fui el viernes ! precavid...,Sun Aug 28 01:59:54 +0000 2016,es,N
...,...,...,...,...,...,...
938,811436261059792896,2227486286,@AmorAKilates @Roocio_Mk si me pasa lo mismo!,Wed Dec 21 05:00:55 +0000 2016,es,NONE
939,809280785182322688,140260506,@clauchoarrionda pquno ladra y ls demas retwitean,Thu Dec 15 06:15:49 +0000 2016,es,NEU
940,810772298911350784,3291225459,A mi desayuno le hizo falta un alfajor podrida...,Mon Dec 19 09:02:34 +0000 2016,es,N
941,813200690894045184,2257050336,Viste cuando necesitas que alguien te escuche ...,Mon Dec 26 01:52:07 +0000 2016,es,N
942,813476406248275968,707984087085129729,@cuervotinelli @candetinelli Mañana es mi prim...,Mon Dec 26 20:07:43 +0000 2016,es,NEU

In [ ]:
df.to_csv('./data/country_UY_train.csv')